{% block content %}
    {% if app.environment == "dev" or isPreview() %}
        <div class="ui">
            <div class="ui__preview">
                <div class="ui__elements">
                    <div class="ui__item ui__item--edit">
                        <a target="__blank" href="/contao?do={{ article.type }}&table=tl_content&id={{ article.id }}">
                            <img src="/system/themes/flexible/icons/edit.svg" title="{{ 'Edit'|trans }}">
                        </a>
                    </div>
                    <div class="ui__item ui__item--copy">
                        <a
                                href="/contao?do={{ article.type }}&id={{ article.id }}&act=paste&mode=copy&rt={{ csrf() }}">
                            <img src="/system/themes/flexible/icons/copy.svg" title="{{ 'Copy'|trans }}">
                        </a>
                    </div>
                    <div class="ui__item ui__item--cut">
                        <a
                                href="/contao?do={{ article.type }}&id={{ article.id }}&act=paste&mode=cut&rt={{ csrf() }}">
                            <img src="/system/themes/flexible/icons/cut.svg" title="{{ 'Cut'|trans }}">
                        </a>
                    </div>
                    {% if copiedArticle() %}
                        <div class="ui__item ui__item--insert">
                            <a target="__blank"
                               href="/contao?do={{ article.type }}&id={{ copiedArticle() }}&act=copy&mode=1&pid={{ article.id }}&rt={{ csrf() }}">
                                <img src="/system/themes/flexible/icons/pasteafter.svg" title="{{ 'Paste'|trans }}">
                            </a>
                        </div>
                    {% endif %}
                    <div class="ui__item ui__item--page">
                        <a target="__blank" href="/contao?do={{ article.type }}&pn={{ article.pid }}&rt={{ csrf() }}">
                            <img src="/system/themes/flexible/icons/regular.svg" title="{{ 'Page'|trans }}">
                        </a>
                    </div>
                </div>
                <div class="ui__preview__icon">
                    <img src="/system/themes/flexible/icons/header.svg">
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}