{% macro get_backend_operation_link(operation, article) %}
    {% set params = { do: article.type } %}

    {% if operation == 'edit' %}
        {% set params = params|merge({ table: 'tl_content', id: article.id }) %}
    {% elseif operation == 'copy' %}
        {% set params = params|merge({ id: article.id, act: 'paste', mode: 'copy', rt: contao.request_token }) %}
    {% elseif operation == 'cut' %}
        {% set params = params|merge({ id: article.id, act: 'paste', mode: 'cut', rt: contao.request_token }) %}
    {% elseif operation == 'insert' %}
        {% set params = params|merge({ id: copiedArticle(), act: 'copy', mode: 1, pid: article.id, rt: contao.request_token }) %}
    {% elseif operation == 'page' %}
        {% set params = params|merge({ pn: article.pid, rt: contao.request_token }) %}
    {% endif %}

    {{ path('contao_backend', params) }}
{% endmacro %}

{% macro get_backend_operation(operation, article) %}
    {% if operation == 'insert' and not copiedArticle() %}
        {# noop #}
    {% else %}
        <div{{ attrs().addClass(['ui__item', 'ui__item--' ~ operation]) }}>
            <a{{ attrs().set('target', '_blank').set('href', _self.get_backend_operation_link(operation, article)) }}>
                {% if operation == 'insert' %}
                    {{ backend_icon('pasteafter.svg') }}
                {% elseif operation == 'page' %}
                    {{ backend_icon('regular.svg') }}
                {% else %}
                    {{ backend_icon(operation ~ '.svg') }}
                {% endif %}
            </a>
        </div>
    {% endif %}
{% endmacro %}

{% block content %}
    {% if app.environment == 'dev' or contao.is_preview_mode %}
        <div class="ui">
            <div class="ui__preview">
                <div class="ui__elements">
                    {% for operation in ['edit', 'copy', 'cut', 'insert', 'page'] %}
                        {{ _self.get_backend_operation(operation, article) }}
                    {% endfor %}
                </div>
                <div class="ui__preview__icon">
                    {{ backend_icon('header.svg') }}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
